.main-body{
    display: flex;
    justify-content: space-between;
    /* background-image: linear-gradient(to right, #0800ff39, #ffea0035); */
    /* background-color: white; */
}

.main-left{
    min-width: 120px;
}
.main-right{
    min-width: 120px;
    
}

.film-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(167px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
    /* background-color: orange; */
    padding: 24px 24px 5px 20px;
}

.film-card {
    position: relative;
    background: transparent;
    display: flex;
    flex-direction: column;
    --aspect-ratio: 16 / 9; /* Customize the aspect ratio */
    /* border: 1px solid black; */
    
}
.film-card::before {
    content: "";
    display: block;
    padding: 0px;
    height: 0;
    /* padding-bottom: calc(var(--aspect-ratio) * 100%); */
}


.film-details {
    display: block;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px 5px;
    margin-top: 0px;

}


.thumbnails{
    width: 100%;
    position: relative;
    
}
.thumbnail-pic{
    width: 100%;
}

.not-thumbnail{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}
.film-name{
    font-size: large;
    margin-top: 0px;
}
.film-genre, .film-year, .film-director{
    background-color: rgb(19, 91, 185);
    padding: 2px 5px 2px 5px;
    color: white;
    display: inline;
    margin-right: 3px;
    width: auto;
    display: inline-block;
    margin-bottom: 1px;
    /* font-size: small; */
}

